<!DOCTYPE>
<html lang="en">
<head>
	<meta charstes="utf-8" />
	<title>Leaflet: Part 1</title>
	<link rel="stylesheet" type="text/css" href="style.css" />


	<link rel="stylesheet" href="leaflet/dist/leaflet.css" />

	<script src="leaflet/dist/leaflet.js"></script>
	<script>
	</script>
</head>

<body>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

</body>